 <!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link rel="stylesheet" href="/style.css" type="text/css" />
  <title>Home Page</title>
</head>
<body>
  <h1>Hi student, Welcome to abc University!</h1>
  <p>You can sign up to the platform to access all important notes & lectures.</p>
  
  <form action="/addUser" method="POST" id="signupForm">
    <div class="field">
      <label for="email">Email:</label>
      <input type="email" name="email" placeholder="jane@email.com" required />
    </div>
    <div class="field">
      <label for="username">Username:</label>
      <input type="text" name="username" placeholder="Jane Doe" required />
    </div>
    <div class="field">
      <label for="password">Password:</label>
      <input type="password" name="password" placeholder="password" required />
    </div>
    <button type="submit" id="formBtn">Create Account</button>
  </form>
</body>
</html>

